<!DOCTYPE html>
<html>
  <head>
    <title>{%block title %}{%endblock%}</title>
  </head>
  <body>
  
  <!--nav bar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href=".">My Website</a>
        </div>
          <ul class="nav navbar-nav">
          
       
        <li><a href="/">page1</a></li>
       <li><a href="/page2">page2</a></li>
	    <li><a href="/page3">page3</a></li>
	     
          </ul>
      </div>
    </nav>
    
    {%block content %}{%endblock%} 
  </body>
</html>
